@Model
@{
    ViewData["Title"] = "Erro";
}
<h1 style="color: red; text-align: center;">ACESSO NEGADO!</h1>
<h3 style="text-align: center;" >É necessário estar em Nível Adiministrador para acessar esta página.</h3>